body {
  font-family: Arial, sans-serif;
  background-color: #c8ecf9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 10px;
  background-color: #005eff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0a01ff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f0f9f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background-color: #ff5252;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c62828;
}

.red {
  background-color: red;
}

.red:hover {
  background-color: rgb(200, 14, 14);
}
